{{#unless (eq undefined label)}}
  <label>{{label}}</label>
{{/unless}}
<div class="ui custom popup hidden" id={{popupId}}>
  {{popupMessage}}
</div>
<div class="popup-trigger">
  {{yield
    (hash
      focus-out=(action "onFocusOut")
      value=(mut (get model property))
    )
  }}
</div>